<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.operationsresearch" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimplexMetodConfigQuantityVar"
            android:label="@string/title_activity_simplex_metod_config_quantity_var" >
        </activity>
        <activity
            android:name=".InputDataSimplexMethod"
            android:label="@string/title_activity_input_data_simplex_method" >
        </activity>
        <activity
            android:name=".GraphTask.ActivityInputQuantityNodes"
            android:label="@string/title_activity_activity_input_quantity_nodes"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.com.operationsresearch.MainActivity" />
        </activity>
        <activity
            android:name=".GraphTask.ActivityInputAdjacentNodes"
            android:label="@string/title_activity_activity_input_adjacent_nodes" >
        </activity>
        <activity
            android:name=".GraphTask.ActivityDFSandBFS"
            android:label="@string/title_activity_dfsand_bfs" >
        </activity>
    </application>

</manifest>
